<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
Logged in as <strong><%= current_user.username %></strong>
<link rel="stylesheet" type="text/css" href="">
<h2>Skills</h2>>
<%= @skills.inspect %>
