<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
Logged in as <strong><%= current_user.username %></strong>
<link rel="stylesheet" type="text/css" href="">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lQOLrycmXC4?enablejsapi=1&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I2n0mzmxaN4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/l9otZ0J4SVE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Skills</h2>>
<%= @skills.inspect %>
