<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
Logged in as <strong><%= current_user.email %></strong>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jBvlcU8WOd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/luarwnYcP7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<link rel="stylesheet" type="text/css" href="">
<h2>Skills</h2>>
<%= @skills.inspect %>
